.shortcut{
    height: 52px;
    background-color: #333333;
}


.wrapper{
    width: 1240px;
    margin: 0 auto;

}
.shortcut .wrapper{
    background-color:  pink;
    height: 52px;
}

.shortcut .wrapper ul{
    float: right;
    /* margin: 19px 0; */

}


.shortcut .wrapper ul li{
    float: left;
    line-height: 52px;

}

.shortcut .wrapper ul li a {
    padding: 0 16px;
    border-right: 1px solid #666666;
    color: #dcdcdc;
}
